*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:black;
    background-image: url(./imagens/9-conteúdos-para-quem-quer-se-familiarizar-com-a-área-de-programação-e-desenvolvimento.jpg);
    background-size: cover;
}

.card{
    width: 130px;
    height: 130px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform .5s;
}

.card_front, .card_back{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.45);
    backface-visibility: hidden;

}

.flip{
    transform: rotateY(180deg);
}

.card_front{
    transform: rotateY(180deg);
    background-color:gray;


}

.card_back{
    color: #101c2c;
    background-color: #05c3ff;
    font-size: 30px;

    /* display: none; */
}

#gameOver{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    font-size: 50px;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 0;
}

#restart{
    padding: 20px;
    font-size:20px;
    background-color:yellow;
    border: none;
    border-radius: 10px;
    margin-top: 10px;

}

#gameBoard{
    /* background-color: tomato; */
    max-width: 700px;
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr 1fr/ 1fr 1fr 1fr 1fr ;
    gap: 10px;
       
}